body{
    background-color: coral;
}
.popup img{
    width: 25px;
    height: 25px;
    padding: 7px;
}
.popup{
    display: flex;
    border: 1px solid rgb(20, 112, 2);
    background-color: rgba(0, 128, 0, 0.087);
    width: 220px;
    height: 40px;
    border-radius: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 30px,30px;
    transform: translate(-50%, -50% ) scale(0.1);
    transition: transform 0.4s , top 0.4s;
    visibility: hidden;
    
}
.popup pre{
    padding-left: 2rem;   
}
.openPopup{
    visibility: visible;
    top: 30px;
    transform: translate(-50%,-50%) scale(1);
}
/* .popup::after{
    content:'';
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 93%;
    height: 5px;
    background: rgb(0, 128, 0);
    animation: anim 4s linear forwards;
    border-radius: 50px;
}
@keyframes anim {
    100%{
        width: 0;
    }
    
} */